
body {
 margin: 0;
 padding: 20px;
 background-color:rgb(255, 229, 113);
}

#containerOne {
    position: absolute;
width: 100%;
left: 0px;
top: 0px;
padding: 2vw 5vw 5vw 5vw;
z-index:0;
}

.color-change-2x{animation:color-change-2x 3s ease-in-out infinite alternate both}

@keyframes color-change-2x{0%{background:rgb(255, 108, 189)}100%{background:rgb(255, 229, 113)}}


.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'Chicle', cursive;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 112px;
text-align: center;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comic Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 32px;
color: rgb(51, 0, 255);
  }

  #arrow {
    display: flex;
  justify-content: center;
  color: rgba(255, 0, 0, 0.9);
  }
  
  .shake-vertical{animation:shake-vertical 5s cubic-bezier(.455,.03,.515,.955) infinite reverse both}
  @keyframes shake-vertical{0%,100%{transform:translateY(0)}10%,30%,50%,70%{transform:translateY(-8px)}20%,40%,60%{transform:translateY(8px)}80%{transform:translateY(6.4px)}90%{transform:translateY(-6.4px)}}
  

.textp {
font-family: 'Comic Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
text-align: center;
color: rgb(51, 0, 255);
}

.quiz {
 padding: 0 30px 20px 30px;
 max-width: 960px;
 margin: 0 auto;

}
.quiz ul {
 list-style: none;
 padding: 0;
 margin: 0;
}
.quiz-question {
    font-family: 'Comic Neue', cursive;
 font-weight: bold;
 color:rgb(0, 0, 255);
 display: block;
 padding: 30px 0 10px 0;
 margin: 0;
}
.quiz-answer {
    font-family: 'Comic Neue', cursive;
    color:rgb(0, 0, 255);
 margin: 0;
 padding: 10px;
 background: #b1ff84;
 margin-bottom: 5px;
 cursor: pointer;
}
.quiz-answer:hover {
 background: #7860ff;
}
.quiz-answer:before {
 content: "";
 display: inline-block;
 width: 15px;
 height: 15px;
 border: 1px solid #ccc;
 background: #fff;
 vertical-align: middle;
 margin-right: 10px;
}
.quiz-answer.active:before {
 background-color: rgb(0, 0, 255);
 border-color: rgb(0, 0, 255);
}
.quiz-answer.correct:before {
 background-color: green;
 border-color: green;
}
.quiz-answer.incorrect:before {
 background-color: red;
 border-color: red;
}
.quiz-answer.active.correct:before {
 outline: 2px solid green;
 outline-offset: 2px;
}
.quiz-result {
 max-width: 960px;
 margin: 0 auto;
 font-weight: bold;
 text-align: center;
 color: #fff;
 padding: 20px;
}
.quiz-result.good {
 background: green;
}
.quiz-result.mid {
 background: orange;
}
.quiz-result.bad {
 background: red;
}


#buttony {
color: rgb(255, 0, 200);
font-family: 'Comic Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 32px;
}
/**
 * Wowzors
 * - Spiral flips and rotates
 */
 @keyframes wowzors {

    1% {
      opacity: 0%;
    }
  
    10% {
      opacity: 100%;
      transform: rotate(360deg) translateX(150px) translateY(400px) rotate(-360deg) rotateY(360deg);
    }
  
    20% {
      transform: rotate(720deg) translateX(150px) translateY(350px) rotate(-720deg) rotateY(720deg) ;
    }
  
    30% {
      transform: rotate(1080deg) translateX(150px) translateY(300px) rotate(-1080deg) rotateY(1080deg) ;
    }
  
    40% {
      transform: rotate(1440deg) translateX(150px) translateY(250px) rotate(-1440deg) rotateY(1440deg) ;
    }
  
    50% {
      transform: rotate(1800deg) translateX(150px) translateY(200px) rotate(-1800deg) rotateY(1800deg) ;
    }
  
    60% {
      transform: rotate(1440deg) translateX(150px) translateY(150px) rotate(-1440deg) rotateY(1440deg) ;
    }
  
    70% {
      transform: rotate(1080deg) translateX(150px) translateY(0px) rotate(1080deg) rotateX(180deg);
    }
  
  
  }
  
  .wowzors {
    animation-timing-function: linear;
    transform-origin: bottom center;
    animation-name: wowzors;
    animation-duration: 5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }

      .heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                animation: heartbeat 1.5s ease-in-out infinite both;
    }
    @-webkit-keyframes heartbeat {
        from {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        10% {
          -webkit-transform: scale(0.91);
                  transform: scale(0.91);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        17% {
          -webkit-transform: scale(0.98);
                  transform: scale(0.98);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        33% {
          -webkit-transform: scale(0.87);
                  transform: scale(0.87);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        45% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }

      @keyframes heartbeat {
        from {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        10% {
          -webkit-transform: scale(0.91);
                  transform: scale(0.91);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        17% {
          -webkit-transform: scale(0.98);
                  transform: scale(0.98);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        33% {
          -webkit-transform: scale(0.87);
                  transform: scale(0.87);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        45% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      
      
      .textkdo {
        -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
                font-family: 'Comic Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
text-align: center;
color: rgb(255, 108, 189)
    }

    @-webkit-keyframes text-pop-up-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          text-shadow: none;
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          text-shadow: 0 1px 0 #ff7300, 0 2px 0 #ff7300, 0 3px 0 #ff7300, 0 4px 0 #ff7300, 0 5px 0 #ff7300, 0 6px 0 #ff7300, 0 7px 0 #ff7300, 0 8px 0 #ff7300, 0 9px 0 #ff7300, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
      }
      @keyframes text-pop-up-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          text-shadow: none;
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
      }
      
      